.btn-loading {
  .sk-three-bounce {
    .sk-child {
      background: white;
    }
    margin: 0px;
    width: auto;
  }
}
.content {
  position: absolute;
  left: 50%;
  top: 28%;
  transform: translate(-50%);
  color: white;
  text-align: center;
}
.inner-banner {
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('assets/img/sell-ticket.png');
  // background-image: url("assets/img/sell-ticket.png");
  background-size: cover !important;
  background-position: center !important;
  padding: 90px 20px !important;
  position: relative;
  // filter: brightness(55%);
  margin: 0;
  .container {
    h2 {
      text-align: center;
      color: white;
    }
    .select_event {
      width: 60%;
      margin: 33px auto;
      display: block;
    }
  }
}
.sell_ticket_img{
  width: 100%;
  height: 200px;
}
.Reservation_btn{
  width: 85% !important;
}
