.item{
    background: #80808054;
    padding: 8px;
    width: 36px;
    text-align: center;
    border-radius: 50%;
    color: black;
    font-weight: bolder;
    margin-left: 15px;
}
.searchCard{
    position: absolute;
    left: 202px;
    top: 65px;
    width: 241px;
}
.searchCardevent{
    position: absolute;
    left: 202px;
    top: 65px;
    width: 241px;
}
.navbar-search-box{
    background: whitesmoke;
    border-radius: 10px;
}