<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col-md-6 col-lg-6 col-xl-6">
      <div class="form-group searchBar">
        <i class="ion ion-ios-search navbar-icon align-middle"></i>
        <input type="search" [placeholder]="'event.searchAnyEvent' | translate" name="search" style="
            height: 47px;
            border-radius: 12px;
            background: #fbfbfb;
            box-shadow: 0px 0px 7px 7px #e7e7e7;
          " [(ngModel)]="eventSearch" class="form-control px-5 py-3" />
      </div>
    </div>
    <div class="col"></div>
    <div class="col-12 p-0">
      <div [class]="
          innerWidth > 425
            ? 'row form-row px-4 pb-5 pt-0  '
            : 'row form-row   px-2 pb-2 pt-0 mt-2'
        ">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-0" *ngFor="let image of images | filter: eventSearch">
          <div class="card m-2" style="border-radius: 15px; overflow: hidden">
            <div class="card-header font-weight-bold">{{ image?.title }}</div>
            <div class="gallery-thumbnail">
              <a class="img-thumbnail img-thumbnail-zoom-in img" routerLink="/ticket-detail/{{ image.id }}">
                <span class="img-thumbnail-overlay bg-dark opacity-25"></span>
                <span class="img-thumbnail-content display-4 text-white">
                  <!-- <button
                    type="button"
                    class="btn btn-primary"
                    routerLink="/ticket-detail/{{ image.id }}">
                  {{'event.readMore' | translate}}
                  </button> -->
                </span>
                <img [src]="url + image.eventImg" class="img-fluid img" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>