.img {
    height: 27vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(90%);
}
.navbar-icon{
    position: relative;
    left: 17px;
    top: 34px;
    color: #babbbc;
}
.searchBar{
    padding-right: 21px;
}