<div class="col text-right mb-4">

  <h4 class="my-4 d-flex align-items-center">
    <div class="m-1">
      <i class="ion ion-ios-list text-large" [ngClass]="{'rotate-180': isRtl()}"></i>
    </div>
    <div class="m-1">
      {{"Footer.TermsConditions" | translate}}
    </div>
  </h4>


  <div dir="rtl" class="bg-white ui-bordered mb-2 py-3 px-4">

    <div class="text-muted">

      <ul>

        <li>
          بومب تيكت هي منصة وساطة تتيح للمستخدمين بيع وشراء التذاكر وجميع الأسعار هي أسعار البائعين بالإضافة لعمولة.
          وساطة
          الموقع
        </li>

        <li>
          منصة بومب تيكت تتأكد تماماً أن التذكرة سليمة وقابله للاستخدام قبل عرضها في المنصة 100%.
        </li>


        <li>
          جميع مبالغ البائعين ترسل لهم بعد الحفلة من 1-3 أيام.
        </li>

        <li>
          في حال أن المشتري أشترى تذكرة لايمكن إرجاعها أو إستبدالها بسبب طبيعة المنتج ويمكنه طرحها في المنصة مرة أخرى
          "للبيع" لعدم رغبته باستخدامها.
        </li>

        <li>
          عندما يتم شراء أي تذكرة من المنصة تنتقل ملكية التذكرة مباشرة للمشتري ولايحق للبائع .أستخدامها أو بيعها في مكان
          آخر
        </li>

        <li>
          يتم تحويل جميع مبالغ المسوقين بالعمولة كل ٧ أيام عمل.
        </li>

        <li>
          في حال أن المشتري أشتكى من أن التذكرة غير صحيحة أو أستخدمت من قبل شخص آخر وتم التأكد من ذلك من قبل فريق
          المبيعات سيتم إرجاع المبلغ كامل للمشتري وحظر حساب البائع في الموقع.
        </li>

        <li>
          أي عضو يرفع طلب بيع تذاكر سيتم قبوله مباشرة وفي حال عدم قبوله يتواصل معنا لقبوله مباشرة نرجو عدم رفع أكثر من
          طلب لنفس التذاكر قد يعرضك للحظر من المنصة.
        </li>

        <li>
          تطبق جميع هذه الشروط والاحكام لكل مستفيد من منصة بومب تيكت.
        </li>


      </ul>


    </div>


  </div>




</div>


<app-footer></app-footer>