.eventImg {
  height: 50px;
  width: 50px;
  border-radius: 7px;
  margin-right: 7px;
  object-fit: cover;
}

ngb-alert {
  margin: 0px;
  height: 70px;
  font-size: 21px;
  padding-top: 19px;
  padding-left: 19px;
  padding-right: 19px;
}
