<div *ngIf="myTool.myAlertShow" id="my-alert-div" [class]="
    isArLng()
      ? 'animate__animated mx-4 mt-2 text-right'
      : 'animate__animated mx-4 mt-2'
  " [ngClass]="myTool.myAlertClass ? 'animate__fadeIn' : 'animate__fadeOut'">
  <ngb-alert [dismissible]="false" [type]="myTool.myAlertType">
    {{ myTool.myAlertMessage }}
  </ngb-alert>
</div>
<div class="card-body pb-2">

  <div class="row">

    <div class="form-group col-md-6">
      <label [class]="isArLng() ? 'form-label text-right d-block' : 'form-label'">{{
        "changePassword.currentPassword" | translate
        }}</label>
      <input [placeholder]="'changePassword.enterYourOldPassword' | translate" type="password"
        [(ngModel)]="changePassword.oldPassword" class="form-control" />
    </div>

    <div class="form-group col-md-6">
      <label [class]="isArLng() ? 'form-label text-right d-block' : 'form-label'">{{
        "changePassword.newPassword" | translate
        }}</label>
      <input [placeholder]="'changePassword.enterYourNewPassword' | translate" type="password"
        [(ngModel)]="changePassword.newPassword" class="form-control" />
    </div>

    <div class="form-group col-md-6">
      <label [class]="isArLng() ? 'form-label text-right d-block' : 'form-label'">{{
        "changePassword.repeatNewPassword" | translate
        }}</label>
      <input [placeholder]="'changePassword.confirmYourPassword' | translate" type="password"
        [(ngModel)]="changePassword.confirmPassword" class="form-control" />
    </div>

    <div class="col-md-6 text-right">
      <button type="button" class="btn btn-primary" style="margin-top: 37px;" (click)="changePasswordBtn()">
        {{ "changePassword.changePassword" | translate }}</button>
    </div>

  </div>
</div>
<div class="text-right m-3 mb-0">
</div>