<div class="col text-right mb-4">

    <h4 class="my-4 d-flex align-items-center">
        <div class="m-1">
            <i class="ion ion-md-information-circle-outline text-large"></i>
        </div>
        <div class="m-1">
            {{"Footer.aboutUs" | translate}}
        </div>
    </h4>


    <div dir="rtl" class="bg-white ui-bordered mb-2 py-3 px-4">
        <h3 class="font-weight-bold text-dark mx-2">
            من نحن؟
        </h3>

        <div class="text-muted">
            <ul>
                <li>
                    بومب تيكت منصة تابعة لمؤسسة ريادة الآفاق للتسويق الإلكتروني بسجل تجاري معتمد من وزارة التجارة
                    السعودية برقم : 1010796863
                </li>
                <li>
                    بومب تيكت هي منصة وساطة معتمدة وموثوقة لضمان حق الشاري والبائع.
                </li>
                <li>
                    منصة لبيع التذاكر لا يرغب صاحبها بالحظور لأي ظرف كان .
                </li>
                <li>
                    نضمن للمشتري الشراء والدخول للفعالية بعد التاكد من البائع من أن التذكرة صحيحة 100% ولا يستلم البائع
                    المبلغ الا بعد التاكد من دخول المشتري للفعالية. </li>
                <li>
                    جميع الأسعار هي أسعار بائعي التذاكر إضافة لعمولة بومب تيكت .
                </li>
                <li>
                    يتم عرض التذاكر من خلال المنصة ويجب ان تكون بصيغة pdf.
                </li>
                <li>
                    جميع مبالغ البائعين تودع بحساباتهم بعد الفعالية بـ 48 ساعة وحتى 72 ساعة كحد أقصى.
                </li>
            </ul>
        </div>


    </div>




</div>


<app-footer></app-footer>